<p>
  <strong>Topic:</strong>
  <%= @conversation.topic %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @conversation.creator %>
</p>

<h2>Participants</h2>

<ul>
  <% @conversation.conversation_participants.each do |conversation_participant| %>
    <li><%= conversation_participant.participant %></li>
  <% end %>
</ul>

<h2>Messages</h2>

<ul>
  <% @conversation.messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
